<div class="container">
<h1>List of Teas</h1>



  <%= form_tag teas_path, :method => 'get' do %>
  <p>Search:
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Submit", :name => nil %>
  </p>
  <% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teas.each do |tea| %>
      <tr>
        <td><%= tea.name %></td>
        <td><%= tea.origin %></td>
        <td><%= tea.description %></td>
        <td><%= tea.price %></td>
        <td><%= link_to 'Show', tea %></td>
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Edit', edit_tea_path(tea) %></td>
        <td><%= link_to 'Destroy', tea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-dark"><%= link_to 'New Tea', new_tea_path %></button>

</div>
