<h1>Reviews in <%= @tea.name %></h1>
<table>
<tr>
<th>Review details</th>
</tr>
<% for review in @reviews %>
<tr>
<td><%= review.details %></td>
<td><%= link_to 'Show', tea_review_path(@tea, review)
%></td>
<td><%= link_to 'Edit', edit_tea_review_path(@tea, review)
%></td>
<td><%= link_to 'Destroy', tea_review_path(@tea, review),
:confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New review', new_tea_review_path(@tea) %>
<%= link_to 'Back to Tea', @tea %>
